/* ----------------------------------Utilities---------------------------------------- */
.w-auto{
	width: auto !important;
}

/* -----------------------------------Components--------------------------------------- */

.app > section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height is full screen minus the navbar */
	height: calc(100vh - 50px);
}
